bin/
obj/
out/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.nupkg
*.snupkg
*.vsix
.vscode/

.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

App_Data/
App_Data/*
App_Temp/
App_Temp/*
node_modules/

*.log
logs/
*.ldf
*.mdf

packages/
*.nupkg
project.lock.json
global.json

publish/
wwwroot/dist/
wwwroot/node_modules/

secrets.json
*.env

docker-compose.override.yml
.docker/

TestResults/
.coverage
*.coverage
*.coveragexml

*.bak
*.cache
*.tmp
*.swp
*.swo
*.bak
